@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  font-family: Helvetica, sans-serif;
}

header {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;
  background: #00000026;
  float: left;
  }

header #logo {
  color: #fff;
  cursor: pointer;
}

header #logo span {
  font-size: 1.7em;
  line-height: 45px;
  margin-left: 40px;
  font-family: "Bakbak One", sans-serif;
}

@media (min-width: 700px) {
  #logo {
    float: left;
    width: 30%;
    font-size: 1.1em;
  }
  #about {
    float: right;
    width: 67%;
  }
}

@media (max-width: 699px) {
  #logo {
    margin-top: 15px;
    width: 100%;
    font-size: 1.5em;
  }
  #about {
    float: left;
    width: 100%;
  }
}

#about {
text-align: center;
font-size: 1em;
line-height: 40px;
margin-bottom: 10px;
}
.active {
  background-color: #c8c8c847;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
}

#about > a {
  color: #fff;
  text-decoration: none;
  font-family: "Bakbak One", sans-serif;
}

#about > a:hover {
  color: #b0b0b0;
  text-decoration: underline;
}

#about > a:not(:last-child) {
  margin-right: 7%;
}

#top {
  width: 100%;
  background-image: url(https://images.ua.prom.st/2862166222_2862166222.jpg);
  background-blend-mode: multiply;
  background-color: #2e3a44;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 3em;
}
@media (min-width: 1000px) {
#top {
  font-size: 3em;
  height: 600px;
}
}

@media (max-width: 999px) and (min-width: 701px) {
#top {
  font-size: 2em;
  height: 500px;
}
}

@media (max-width: 700px) {
#top {
  font-size: 1.3em;
  padding-top: 50%;
  height: 400px;
}
}

#top h1 {
  padding-top: 20%;
}

#top h3 {
  color: #c8c4c4;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 550px;
  background: #545556ed;
  color: #ffffff;
  font-family: "Bakbak One", sans-serif;
}

#main h2 {
  font-size: 2em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;

}

.box {width: 22%;

font-size: 17px;
background: #a1a6a185;
text-align: center;
border: solid 2px silver;
border-radius: 5px;
padding: 10px;
margin: 5px;
font-family: "Roboto", sans-serif;
}

.box h3 {
  padding: 5px;
}

.text {
  padding: 5px;
  color: #3cd71c;
}

img {
  padding: 10px;
  width: 80%;
  height: 90%;
}
button[name="buy"] {
    border: none;
    border-radius: 7px;
    padding: 10px 25px;
    background: #fcfcfc;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    transition: 0.8s;
  }
  button[name="buy"]:hover {
    background: #aaa9a8;
    transform: scale(1.05);
  }
  .page {
    padding: 10px;
  }
  .page a{
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    color: #fff;
  }

  .page a:hover{
    text-decoration: underline;
    color:#c8c4c4;
  }
  .page > .active2 {
    background-color: #c8c8c847;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2px;
  }




  @media (max-width: 999px) and (min-width: 701px) {
  .box h3{
  font-size: 15px;
    }
  button[name="buy"] {
        border-radius: 7px;
        padding: 8px 22px;
  }
  .box {width: 32%;
  }
  .page a{
    font-size: 1.3em;
  }
}

  @media (max-width: 700px) {
      .box {width: 90%;
    }
    .page a{
      font-size:0.9em;
    }
  }

footer {
  display: flex;
  background-color: #fff;
  width: 100%;
  border-top: 2px solid silver;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}

footer div {
  width: 32%;
  margin-left: 15%;
  float: left;
}

.contacts li {
  list-style-type: none;
  padding-top: 5px;
  font-family: "Bakbak One", sans-serif;
  color: #5d5a59;
}
.contacts li:nth-child(odd) {
  color: #000000;
}
.contacts p {
  color: #5d5a59;
  padding-bottom: 5px;
}
.contacts a {
  text-decoration: none;
  color: #52504f;
}

.contacts a:hover {
  cursor: pointer;
  color: #b54834;
  text-decoration: underline;
}
.working li {
  list-style-type: none;
  padding-top: 5px;
  color: #52504f;
  font-family: "Bakbak One", sans-serif;
}

.working p {
  color: #000000;
  padding-bottom: 5px;
}

@media (max-width: 700px) {
  footer {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

}

.contacts {font-size: 0.8em;
  margin-left: 0px;
}
.working {font-size: 0.8em;
}
}

@media (max-width: 999px) and (min-width: 701px) {
.contacts {font-size: 1.2em;}
.working {font-size: 1.2em;}
}
